* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background-color: rgba(30, 30, 46, 0.9);
    color: #cdd6f4;
}

#workspaces button {
    color: #cdd6f4;
    background-color: transparent;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.focused {
    background-color: #89b4fa;
    color: #1e1e2e;
}

#network.disconnected {
    color: #f38ba8;
}
